<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>

    <h2><span [class.extraClass]="property">Class Binding</span></h2>

    <h2><span [style.border]="property ? '5px solid yellow' : 'none'">Style Binding</span></h2>

    <h2  id="click" *ngIf="isAvailable" >Runs with ngif <b class="btn btn-primary" (click)="onclick()">Click Me</b></h2>

    <h4>keyup form</h4>
    <h2><input [value]="values" id="form" input="text" (keyup)="onKey($event)"></h2>
    <h4>You Entered: {{values}}</h4>
  
    <h4><b> Users List</b></h4>
<ul>
    
    <li *ngFor="let user of users">{{user.name}} is {{user.age}} years old</li>
</ul>

